@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    width: 100vw;
}

.righteous {
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}


.topo {
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.titulo {
    margin: 0px 20px;
    color: #FFFFFF;
}

.titulo p:first-child {
    font-size: 44px;
    line-height: 54.63px;
}

.titulo p:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
}

.conteudo {
    width: 414px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.titulo-categoria {
    width: auto;
    color: #333333;
    font-size: 26px;
    line-height: 32.28px;
    margin: 0px 20px;
}

.cardapio {
    display: flex;
    overflow-x: scroll;
    margin: 10px 0px;
    margin-left: 10px;
}


.itens-cardapio {
    background-color: #FFFFFF;
    width: 172px;
    height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 10px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.5);
}

.item-imagem {
    width: 144px;
    height: 87px;
    margin: 0px 10px;
}

.item-imagem img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.item-titulo {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: #333333;
}


.item-descricao {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    line-height: 17.58px;
    color: #A6A6A6;
    margin-left: 3px;
}

.item-preco {
    color: #000000;
    font-size: 16px;
    line-height: 18.75px;
}



.barra-inferior {
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao-barra-inferior {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: 1.8%;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    background-color: #CBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}


.selecionado {
    border: 5px solid #32B72F;
}

.botao-habilitado {
    background-color: #32B72F;
    font-weight: 700;
}

.botao-habilitado:hover {
    background-color: #6dcf6b;
    cursor: pointer;
}

.escondido {
    display: none;
}

.container-preco {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container-preco ion-icon {
    color: #32B72F;
}